<%- include("partials/header"); -%> 
<div>
    <h1 style="display:inline-block;"><%=posts[0].title%></h1>
    <p style="display:inline-block;margin-left: 2px;"><em class="text-secondary">By <%=posts[0].author%></em></p>
    <p><%=posts[0].body%></p>
</div>

<% for( let index = 1; index < posts.length; index++ ) { %>
    <div>
        <h1 style="display:inline-block;"><%=posts[index].title%></h1>
        <p style="display:inline-block;margin-left: 2px;"><em class="text-secondary">By <%=posts[index].author%></em></p>
        <p><%=posts[index].body.slice(0,100)%>...<a href="/posts/<%=posts[index]._id%>">Read More</a></p>
    </div>
<% } %>
<div style="margin-bottom: 15px;">
    <a href="/compose" class="btn btn-warning">Compose</a>
</div> 
<%- include("partials/footer"); -%> 